<table>
	<tr class='row' id='row_1'>
		<td class='tile' id='tile_1'></td>
		<td class='tile' id='tile_2'></td>
		<td class='tile' id='tile_3'></td>
		<td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_2'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_3'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_4'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_5'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_6'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_7'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
	<tr class='row' id='row_8'><td class='tile' id='tile_1'></td><td class='tile' id='tile_2'></td><td class='tile' id='tile_3'></td><td class='tile' id='tile_4'></td><td class='tile' id='tile_5'></td><td class='tile' id='tile_6'></td><td class='tile' id='tile_7'></td><td class='tile' id='tile_8'></td></tr>
</table>
<div id='stats'>Time: <span id='time'>0</span> Flags: <span id='flags'></span></div>
Press Shift + Click to flag tiles.
</body>